<!-- start: header -->
        <header class="header">
            <div class="head__wrap">
             <div class="head__container head__container--logo">
                 <div class="logo">
                     <div class="logo logo__img">
                         <img src="images/logo.png" alt="kurort-logistik">
                     </div>
                     <div class="logo logo__title">Курорт<br> Логистик<br>
                     <span>туристическая фирма</span></div>
                 </div>
             </div>
             <div class="head__container head__container--action">
                 <div class="info info__action"><a href="#"><img src="images/icon-interest.png" height="35" width="35" alt="%">Акции</a></div>
                 <a href="#" class="button button--yelow">Бесплатное бронирование</a>
             </div>
             <div class="head__container head__container--schedule">
                 <div class="info info__phone"><img src="images/icon-phone.png" height="35" width="35" alt="phone">
                 <p>Консультации по
                 телефону <br><br>
                 с <strong>8.00</strong> до <strong>20.00<br>
                     без выходных</strong>
                 </p></div>
             </div>
             <div class="head__container head__container--phone">
                <div class="info info__phone--free"> 8 (800) <span class="black">767-98-76</span></div>
                <p>бесплатный звонок по России</p>
                <a href="#" class="button button--width-fix button--yelow">Заказать звонок</a>
             </div>
         </div>

     </header>
        <!-- end: header -->
    <nav>
        <div class="navbar">
            <ul>
                <li>
                    <a href="#">О турфирме <i class="fa fa-caret-down"></i></a>
                    <ul class="subcategory">
                        <li><a href="sanatory.html">Документы</a></li>
                        <li><a href="question.html">Новости</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Полезная информация</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Путевки в санатории <i class="fa fa-caret-down"></i></a>
                    <ul class="subcategory">
                        <li><a href="sanatory.html">Пятигорск</a></li>
                        <li><a href="sanatory.html">Железноводск</a></li>
                        <li><a href="sanatory.html">Ессентуки</a></li>
                        <li><a href="sanatory.html">Кисловодск</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Отдых в горах <i class="fa fa-caret-down"></i></a>
                    <ul class="subcategory">
                        <li><a href="sanatory.html">Архыз</a></li>
                        <li><a href="sanatory.html">Тиберда</a></li>
                        <li><a href="sanatory.html">Домбай</a></li>
                        <li><a href="sanatory.html">Приэльбрусье</a></li>
                    </ul>
                </li>
                <li><a href="reservation.html">Отзывы</a></li>
                <li><a href="question.html">Задать вопрос</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </nav>