// bower:scss
// endbower

@import "mixins";

/* core */
@import "core/pallete";
@import "core/extends";


/* modules */
// @import "modules/header";
@import "modules/carousel";
@import "modules/paginator";
@import "modules/map";
@import "modules/select";
@import "modules/ion.rangeSlider";

/*pages*/
@import "modules/index";
@import "modules/sanatorium-main";
@import "modules/sanatorium";
@import "modules/faq";
@import "modules/questions";


/*vendor*/
@import "vendor/jquery-ui/datepicker";
@import "vendor/font-awesome/font-awesome";
@import "../scripts/fancybox/jquery.fancybox.css";


/*comonents*/
@import "../components/advantages/advantages";
@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/slider/slider";
@import "../components/form/reservation";



/* layouts */
@import "layouts/details";
@import "layouts/buttons";
@import "layouts/left-aside";
@import "layouts/rigth-aside";


/* include fonts */
@include font-face('FontAwesome', 'fontawesome-webfont', 'font-awesome');
@include font-face('IzhitsaRegular', 'IzhitsaRegular', 'IzhitsaRegular');


/* ==============================================
                   DOM ELEMENTS
 ============================================== */
html {
    height: 100%;
    font-size: 15px;
}
body {
    font-family: "Arial Regular", arial;
    min-height: 808px;
    min-width: 1024px;
    width: 100%;
    color: $clr-text-default;
    background-color: $clr-body;
    -webkit-text-size-adjust: auto;
}
img {
    max-width: 100%;
}

a {}

a:hover,
a:focus {
   text-decoration: underline;
}

strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-family:  sans-serif;
    line-height: 1.5em;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 22px;
}

hr {
    border: none;
    height: 1px;
    margin: .7em 0;
}
p {
    padding: 5px 0;
}
input[type="text"] {
    height: 34px;
    padding: 3px 7px;
    box-sizing: border-box;
}

textarea,
input[type="text"] {
       border-radius: 5px; 
       color: $clr-text-default;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        
}
.clearfix {
*zoom: 1;
}
.slider-fix {
    position: absolute;
    width: 100%;
}