footer {
	color: $clr-tetx-lite;
	background: url(/images/footer.jpg) 0 0 no-repeat;
}

.footer {
	@extend .align-left;
	padding: 50px 5px;
	

	& > .logo {
		width: 12%;
	}

	.logo__img {
	margin-bottom: 40px;
	}
}
 

.footer .logo,
.advice,
.f__lists,
.f__list {
	@extend .inline-block-vtop;
	text-align: center;
	box-sizing: border-box;
}

.advice {
	// width: 37%;
	text-align: left;
	padding-left: 55px;

	@include e('phone') {
		color: #eee;
		font-size: 20px;
		margin: 10px 0 20px;

		span {
			color: $clr-green-list;
		}
	}
	
	@include e('link') {
		padding-left: 20px;
	}
	.button {
		width: 165px;
		text-align: center;
	}
}

.f {
	@include e('lists') {
		width: 51%;
	}

	@include e('list') {
		width: 33%;

		ul {
			padding-top: 15px;
			color: $clr-green-list;
			line-height: 2em;
		}
	}

	@include e('title') {
		h6 {
			font-size: 18px;
			line-height: 2em;
		}
	}

	@include e('copyright') {
		background-color: $clr-footer;
	}

	@include e('wrap') {
		@extend .align-left;
		box-sizing: border-box;
		line-height: 3em;
		padding: 0 25px;
	}
}
