<footer>
        <div class="footer">
            <div class="logo">
                <div class="logo logo__img">
                    <img src="images/logo.png" alt="kurort-logistik">
                </div>
                <div class="logo logo__social">
                    <a href="#" class="social social--fb"></a>
                    <a href="#" class="social social--tw"></a>
                    <a href="#" class="social social--vk"></a>
                    <a href="#" class="social social--od"></a>
                </div>
            </div>
            <div class="advice">
                <div class="f__title">
                    <h6>Консультации по всем вопросам</h6>
                </div>
                <div class="advice__phone">
                    8 (800) <span>767-98-76</span>
                </div>
                <div class="advice__buttons">
                    <p>
                       <a href="#" class="button button--width-fix button--blue">Заказать звонок</a>
                       <a href="#" class="advice__link">Задать вопрос</a> 
                   </p>
                   <p>
                       <a href="#" class="button button--width-fix button--green">Забронировать</a>
                       <a href="#" class="advice__link">Написать отзыв</a> 
                   </p>
               </div>
           </div>
           <div class="f__lists">
           <li></li>
                <div class="f__list">
                    <div class="f__title">
                        <h6>Компания</h6>
                    </div>
                    <ul>
                        <li><a href="#">Документы</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </div>
                <div class="f__list">
                    <div class="f__title">
                        <h6>Санатории</h6>
                    </div>
                    <ul>
                        <li><a href="#">Пятигорск</a></li>
                        <li><a href="#">Кисловодск</a></li>
                        <li><a href="#">Ессентуки</a></li>
                        <li><a href="#">Железноводск</a></li>
                    </ul>
                </div>
                <div class="f__list">
                    <div class="f__title">
                        <h6>Горный отдых</h6>
                    </div>
                    <ul>
                        <li><a href="#">Архыз</a></li>
                        <li><a href="#">Тиберда</a></li>
                        <li><a href="#">Домбай</a></li>
                        <li><a href="#">Приэльбрус</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="f__copyright">
            <div class="f__wrap">
                <span>Имеются противопоказания. Необходима консультация специалистов</span>
                <span class="copyright fl-r">Разработка сайта — WebElement</span>
            </div>
        </div>
    </footer>