@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">

@@include('../components/header/header.html')

                <div class="content__wrap">
                    <div class="content__desc content__desc--p25">
                        <h1>Контакты</h1>
                        <div class="content__contacts">
                            <p>Туристическая фирма "Курорт Логистик находится в Пятигорске"</p>
                            <p>Мы работаем с <strong>08:00</strong> до <strong>20:00</strong> ежедневно.</p>
                            <p>Вы можете задать любой, интересующий вас вопрос по телефонам:</p>
                            <div class="content__phone">
                                <span class="phone-ico"><i class="fa fa-phone"></i></span>
                                8 (800) <span class="clr-black">767-98-76</span>
                            </div>
                            <div class="content__phone">
                                8 (800) <span class="clr-black">767-98-76</span>
                            </div>
                            <p>или по адресу <a class="e-mail" href="matio:info@kurortlogistic.ru">info@kurortlogistic.ru</a></p>
                        </div>
                        <div class="content__contacts">
                            <div class="title">Реквизиты ООО Курортлогистик</div>
                            <ul>
                                <li>Инн 263203967654</li>
                                <li>ОГРН 315265100003044</li>
                                <li>Адрес: 357500, Ставропольский край, Предгорный р-н</li>
                                <li>Банк: Филиал №4 ОАО КБ «Центр-Инвест» г. Ставрополь</li>
                                <li>БИК 040702774</li>
                                <li>К/С 30101810400000000734</li>
                                <li>Р/С 40802810606900000330</li>
                            </ul>
                        </div>
                        <div class="content__managers">
                            <div class="title">Вас с радостью проконсультируют наши менджеры:</div>
                            <div class="content__manager">
                                <img src="images/manager-foto.jpg" height="182" width="182" alt="foto">
                                <div class="content__manager--name">
                                    Константинопольский Константин Константинович
                                </div>
                                <div class="content__manager--desc">
                                    <ul>
                                        <li>Консультации по вопросам санаториев</li>
                                        <li>Пятигорска и Железноводска</li>
                                        <li>Прямые контакты</li>
                                        <li>8 (8793) 33-47-56</li>
                                        <li><a href="matio:pyating@kurortlogistik.ru">pyating@kurortlogistik.ru</a></li>
                                    </ul>
                                </div>
                                <span class="content--separator"></span>
                            </div>
                            <div class="content__manager">
                                <img src="images/manager-foto.jpg" height="182" width="182" alt="foto">
                                <div class="content__manager--name">
                                    Константинопольский Константин Константинович
                                </div>
                                <div class="content__manager--desc">
                                    <ul>
                                        <li>Консультации по вопросам санаториев</li>
                                        <li>Пятигорска и Железноводска</li>
                                        <li>Прямые контакты</li>
                                        <li>8 (8793) 33-47-56</li>
                                        <li><a href="matio:pyating@kurortlogistik.ru">pyating@kurortlogistik.ru</a></li>
                                    </ul>
                                </div>
                                <span class="content--separator"></span>
                            </div>
                            <div class="content__manager">
                                <img src="images/manager-foto.jpg" height="182" width="182" alt="foto">
                                <div class="content__manager--name">
                                    Константинопольский Константин Константинович
                                </div>
                                <div class="content__manager--desc">
                                    <ul>
                                        <li>Консультации по вопросам санаториев</li>
                                        <li>Пятигорска и Железноводска</li>
                                        <li>Прямые контакты</li>
                                        <li>8 (8793) 33-47-56</li>
                                        <li><a href="matio:pyating@kurortlogistik.ru">pyating@kurortlogistik.ru</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map" class="map map--border">
                        
                    </div>
                </div>
               
@@include('../components/advantages/advantages2.html')
        
@@include('../components/footer/footer.html')
       
    </div>
</div>

@@include('../components/scripts/scripts.html')

 <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=tLcseVnMefjaoS8WTn9EeXLNY1U0TSsj&id=map"></script>

</body>
</html>
