@@include('../components/head/head.html')

<body>
   
@@include('../components/noscript/noscript.html')

<div class="container container--bg-sea">

@@include('../components/header/header.html')

            <div class="content__wrap">
                <div class="content__desc content__desc--p25">
                    <h1>Бесплатная служба бронирования</h1>
                    <div class="tabs">
                        <ul>
                            <li class="tab tab--img tab--sanatorium active">Санатории КМВ</li>
                            <li class="tab tab--img tab--mountains">Отдых в горах</li>
                            <li class="tab tab--img tab--sea">Отдых на море</li>
                        </ul>
                    </div>
                    
@@include('../components/form/form.html',{
    "modify":"reservation--lite"
})

    </div>
</div>

@@include('../components/advantages/advantages2.html')

@@include('../components/footer/footer.html')

    </div>
</div>

@@include('../components/scripts/scripts.html')

<!--[if lt IE 10]>
    <script src="scripts/placeholder-ie9.js"></script>
     <script>
        $('input, textarea').placeholder();
     </script> 
     <![endif]-->

     <script>
        $('#opt-category').searchableOptionList({
            maxHeight: '350px',
            maxWidth: '245px',
            texts : {
                searchplaceholder: 'Выберете профиль'
            },
            showSelectionBelowList: true,
        });
        $('#city').searchableOptionList({
            maxHeight: '350px',
            maxWidth: '245px',
            texts : {
                searchplaceholder: 'Все города'
            },
            showSelectionBelowList: true,
            radioDisable: true
        });
        $('#sanatorium, #apartaments').searchableOptionList({
            maxHeight: '350px',
            maxWidth: '245px',
            showSelectionBelowList: true,
            radioDisable: true
        });
        $('#range__slider').ionRangeSlider({
            type: "double",
            min: 2000,
            max: 11000,
            from: 3000,
            to: 10000,
            step: 10,
            force_edges: true,
            hide_min_max: true
        });
        $( "#datepicker2, #datepicker1" ).datepicker();
    </script>

</body>
</html>
