@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">

@@include('../components/header/header.html')

            <div class="wrapper">
                <div class="desc__main">
                <div class="desc__title">
                    <h1>Санатории Пятигорска!</h1>
                </div>
                <div class="desc__sort">
                    <p>
                        <span class="wrap">
                            Соритровать по: 
                            <span class="desc__sortlink desc__sortlink--down">
                                <a href="#">цене </a>
                                <i></i>
                            </span>
                            <span class="desc__sortlink desc__sortlink--up active">
                                <a href="#" class="active">названию </a>
                                <i></i>
                            </span>
                        </span>
                        Показывать по: 
                        <a href="#">9</a>
                        <a href="#">12</a>
                        <a href="#" class="active">16</a>
                    </p>
                </div>
                   <div class="desc__wrap">
                        <img src="images/sanatorium-main.jpg" alt="foto" class="img--border fl-l">
                        <h4>Санаторий Пятигорский Нарзан</h4>
                        <p>Санаторий «Пятигорский Нарзан» расположен у подножия горы Машук, что позволяет наслаждаться  прекрасным видом на гору Машук, город Пятигорск и белоснежный Кавказский хребет, любоваться неповторимыми закатами и совершать приятные прогулки по знаменитым терренкурам, вдыхая аромат «лермонтовской эпохи».</p>
                        <p>
                            <span class="fl-r"><a href="#" class="button button--blue">Смотреть санаторий</a></span>
                            <span class="desc__cost">от 4000 руб./сутки</span><br>
                            <span class="desc__feedback"><a href="#">Читать отзывы</a> (16)</span>
                            
                        </p>
                        <p class="desc__tags">
                            Лечение по направлениям:
                            <a href="#">Санаторно-курортное</a>,
                            <a href="#">Аллерголоия</a>,
                            <a href="#">Гинекология</a>,
                            <a href="#">Дыхательная Система</a>,
                            <a href="#">Желудочно-кишечный тракт</a>
                        </p>
                    </div> 
                     <div class="desc__wrap">
                        <img src="images/sanatorium-main.jpg" alt="foto" class="img--border fl-l">
                        <h4>Санаторий Пятигорский Нарзан</h4>
                        <p>Санаторий «Пятигорский Нарзан» расположен у подножия горы Машук, что позволяет наслаждаться  прекрасным видом на гору Машук, город Пятигорск и белоснежный Кавказский хребет, любоваться неповторимыми закатами и совершать приятные прогулки по знаменитым терренкурам, вдыхая аромат «лермонтовской эпохи».</p>
                        <p>
                            <span class="fl-r"><a href="#" class="button button--blue">Смотреть санаторий</a></span>
                            <span class="desc__cost">от 4000 руб./сутки</span><br>
                            <span class="desc__feedback"><a href="#">Читать отзывы</a> (16)</span>
                            
                        </p>
                        <p class="desc__tags">
                            Лечение по направлениям:
                            <a href="#">Санаторно-курортное</a>,
                            <a href="#">Аллерголоия</a>,
                            <a href="#">Гинекология</a>,
                            <a href="#">Дыхательная Система</a>,
                            <a href="#">Желудочно-кишечный тракт</a>
                        </p>
                    </div>
                     <div class="desc__wrap">
                        <img src="images/sanatorium-main.jpg" alt="foto" class="img--border fl-l">
                        <h4>Санаторий Пятигорский Нарзан</h4>
                        <p>Санаторий «Пятигорский Нарзан» расположен у подножия горы Машук, что позволяет наслаждаться  прекрасным видом на гору Машук, город Пятигорск и белоснежный Кавказский хребет, любоваться неповторимыми закатами и совершать приятные прогулки по знаменитым терренкурам, вдыхая аромат «лермонтовской эпохи».</p>
                        <p>
                            <span class="fl-r"><a href="#" class="button button--blue">Смотреть санаторий</a></span>
                            <span class="desc__cost">от 4000 руб./сутки</span><br>
                            <span class="desc__feedback"><a href="#">Читать отзывы</a> (16)</span>
                            
                        </p>
                        <p class="desc__tags">
                            Лечение по направлениям:
                            <a href="#">Санаторно-курортное</a>,
                            <a href="#">Аллерголоия</a>,
                            <a href="#">Гинекология</a>,
                            <a href="#">Дыхательная Система</a>,
                            <a href="#">Желудочно-кишечный тракт</a>
                        </p>
                    </div>                   
                </div>
                <aside>
                    <div class="aside__rigth">
                        <div class="content__cards">
                            <div class="cards__list">
                                <ul>
                                    <li><a href="#" class="cards__link"><span>Пятигорский Нарзан</span></a></li>
                                    <li><a href="#" class="cards__link"><span>Лесная поляна</span></a></li>
                                    <li><a href="#" class="cards__link"><span>Зори Ставрополья</span></a></li>
                                    <li><a href="#" class="cards__link"><span>Ленинские скалы</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="i-block">
                       <div class="i-block__content i-block__content--list i-block__content--small">
                       <h6>Выберите профиль</h6>
                        <form action="submit">
                            <ul>
                                <li>
                                    <input type="checkbox" name="checkbox1" id="checkbox1">
                                    <label for="checkbox1">SPA</label>
                                </li>
                                <li>
                                <input type="checkbox" name="checkbox2" id="checkbox2">
                                    <label for="checkbox2">Аллергология</label>
                                </li>
                                <li>
                                <input type="checkbox" name="checkbox3" id="checkbox3">
                                    <label for="checkbox3">Гинекология</label>
                                </li>
                                <li>
                                <input type="checkbox" name="checkbox4" id="checkbox4">
                                    <label for="checkbox4">Дыхательная система</label>
                                </li>
                                <li>
                                <input type="checkbox" name="checkbox5" id="checkbox5">
                                    <label for="checkbox5">Желудочно-кишечный тракт</label>
                                </li>
                                <li>
                                <input type="checkbox" name="checkbox6" id="checkbox6">
                                    <label for="checkbox6">Желчевыводящая система</label>
                                </li>
                            </ul>
                            <button type="submit" class="button button--width-fix button--green btn--arrow">Подобрать санатории</button>
                        </form>
                    </div>
                </div>
                        <a href="#"><img src="images/ad02.jpg" height="265" width="234" alt="ad02"></a>
                        <a href="#"><img src="images/ad01.jpg" height="265" width="234" alt="ad01"></a>
                    </div>
                </aside>
                <div class="paginator">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li class="paginator--active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>

            <section>
                <div id="map" class="map"></div>
            </section>
    
@@include('../components/advantages/advantages2.html')

@@include('../components/footer/footer.html')

    </div>
</div>

@@include('../components/scripts/scripts.html')

<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=tLcseVnMefjaoS8WTn9EeXLNY1U0TSsj&id=map"></script>

</body>
</html>
