 <div class="slider">
    
    <ul>
        <li>
            <div class="slide__desc">
                <h4>Санаторий Пятигорска</h4>
                <p>
                    Показательный пример - геометрическая прогрессия стабилизирует нормальный тетрахорд. Поле направлений реально дает двойной интеграл.
                </p>
                <div class="al-r">
                    <a href="#" class="button button--blue">Подробнее</a>
                </div>
            </div>
            <img src="images/bg_1920.jpg" height="810" width="1920" alt="1">
        </li>
        <li>
            <div class="slide__desc">
                <h4>Санаторий Кисловодска</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis consequuntur nostrum molestias officiis, fuga quibusdam natus labore tempora vel accusamus doloribus eligendi quod consectetur omnis, numquam, voluptate fugit laboriosam.
                </p>
                <div class="al-r">
                    <a href="#" class="button button--blue">Подробнее</a>
                </div>
            </div>
            <img src="images/slider-priroda1.jpg" height="810" width="1920" alt="2">
        </li>
        <li>
            <div class="slide__desc">
                <h4>Санаторий Приэлбрусье</h4>
                <p>
                    Показательный пример - геометрическая прогрессия стабилизирует нормальный тетрахорд. Поле направлений реально дает двойной интеграл.
                </p>
                <div class="al-r">
                    <a href="#" class="button button--blue">Подробнее</a>
                </div>
            </div>
            <img src="images/slider-priroda2.jpg" height="810" width="1920" alt="3">
        </li>
        <li>
            <div class="slide__desc">
                <h4>Санаторий Железноводск</h4>
                <p>
                    Показательный пример - геометрическая прогрессия стабилизирует нормальный тетрахорд. Поле направлений реально дает двойной интеграл.
                </p>
                <div class="al-r">
                    <a href="#" class="button button--blue">Подробнее</a>
                </div>
            </div>
            <img src="images/slider-priroda3.jpg" height="810" width="1920" alt="4">
        </li>
        <li>
            <div class="slide__desc">
                <h4>Санаторий Домбай</h4>
                <p>
                    Показательный пример - геометрическая прогрессия стабилизирует нормальный тетрахорд. Поле направлений реально дает двойной интеграл.
                </p>
                <div class="al-r">
                    <a href="#" class="button button--blue">Подробнее</a>
                </div>
            </div>
            <img src="images/slider-priroda4.jpg" height="810" width="1920" alt="5">
        </li>
    </ul>

    <div class="slider__nav">
        <a href="#" class="slider__btn slider__btn--prev"></a>
        <a href="#" class="slider__btn slider__btn--next"></a>
    </div>
    
</div>