.wrapper {
	@extend .align-left;
	margin-top: 35px;
}
.faq {
	@extend .inline-block-vtop;
	@extend .theme-window;

	width: 72%;

	h1 {
		padding: 25px;
		font-size: 1.8em;
	}

	dl {
		margin-bottom: 40px;
	}

	dt {
		padding: 40px 0 35px;
		text-transform: uppercase;
		&:first-child {
			padding-top: 0;
		}
	}

	dd {
		line-height: 1.4em;
		padding-left: 20px;
	}
}