$clr-green: #01775f;
$clr-green-lite: #40ad8b;
$clr-green-medium: #23A18B;
$clr-green-active: #25be7f;
$clr-green-toxic: #93dc5e;
$clr-green-list: #04d1a6;

$clr-shadow: #102927;
$clr-border: #001800;

$clr-text: #172226;
$clr-tetx-lite: #D2D9DA;
$clr-text-gray: #7d8081;
$clr-text-default: #3d4f52;
$clr-gray-text: #5c6a6c;

$clr-orange: #fdab37;
$clr-orange-strong: #ed8210;
$clr-yelow: #fdc337;
$clr-yelow-lite: #ffd556;
$clr-body: #eeecd5;

$clr-blue: #17aedf;
$clr-blue-lite: #2abae8;
$clr-blue-strong: #0189b4;
$clr-blue-midle: #00769b;

$clr-gray: #35454a;


$clr-rose: #f0759d;
$clr-viol: #9a9ef1;

$clr-footer: #3a4a4d;
$clr-bg: #eeecd5;
$clr-paginator-active: #3c3c3c;
$clr-separator: #23494d;
$clr-line-datepicker: #ececec;








