<div class="content__wrap">
   <div class="adv margin-bottom">
    <div class="adv__container adv__container--bold">
        <div class="adv__desc adv__desc--first"></div>
        <p>Индивидуальный подход к каждому гостю</p>
        <span class="adv__separator"></span>
    </div>

    <div class="adv__container adv__container--bold">
        <div class="adv__desc adv__desc--two"></div>
        <p>Бесплатная отмена брони</p>
        <span class="adv__separator"></span>
    </div>

    <div class="adv__container adv__container--bold">
        <div class="adv__desc adv__desc--three"></div>
        <p>Бесплатный трансфер</p>
        <span class="adv__separator"></span>
    </div>
    <div class="adv__container adv__container--bold">
        <div class="adv__desc adv__desc--fourth"></div>
        <p>Официальные цены санаториев</p>
    </div>
</div>
</div>