<section>
    <div class="adv">
        <a class="adv__container adv__container--circle">
            <div class="adv__desc adv__desc--first"></div>
            <p>Индивидуальный подход к каждому гостю</p>
        </a>
        <a class="adv__container adv__container--circle">
            <div class="adv__desc adv__desc--two"></div>
            <p>Бесплатная отмена брони</p>
        </a>
        <a class="adv__container adv__container--circle">
            <div class="adv__desc adv__desc--three"></div>
            <p>Бесплатный трансфер</p>
        </a>
        <a class="adv__container adv__container--circle">
            <div class="adv__desc adv__desc--fourth"></div>
            <p>Официальные цены санаториев</p>
        </a>
    </div>
</section>
